@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
  font-family: "Start";
  src: url('/public/fonts/Start.woff') format('woff'), url('/public/fonts/Start.woff2') format('woff2');
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-LT";
    src: url("/public/fonts/HelveticaNeueLTStd-Lt.woff") format('woff'), url("/public/fonts/HelveticaNeueLTStd-Lt.woff2") format('woff2');
  }

  @font-face {
    font-family: "HelveticaNeueLTStd-MD";
    src: url('/public/fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('/public/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2');
  }

  /* @font-face {
  font-family: "HelveticaNeueLTStd-MD";
  src: url('/public/fonts/HelveticaNeueLTStd-Md.otf') format('otf');
} */
}




